<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      html,
      body {
        height: 100%;
      }
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aliceblue;
      }
    </style>
  </head>
  <body>
    <canvas id="canvas"> </canvas>
    <script>
      window.onload = draw();
      function draw() {
        let canvas = document.getElementById('canvas');
        if (canvas.getContext) {
          let ctx = canvas.getContext('2d');
          let lineCaps = ['butt', 'round', 'square'];
          for (let i = 0; i < lineCaps.length; i += 1) {
            ctx.lineWidth = 15;
            ctx.lineCap = lineCaps[i];
            ctx.beginPath();
            ctx.moveTo(i * 50 + 15, 20);
            ctx.lineTo(i * 50 + 15, 120);
            ctx.stroke();
          }
        }
      }
    </script>
  </body>
</html>
