<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Image</title>
    <style>
      html,
      body {
        height: 100%;
      }
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: aliceblue;
      }
    </style>
  </head>
  <body>
    <h1>Image</h1>
    <button id="invert">invert</button>
    <canvas id="canvas" width="500" height="500"></canvas>
    <script>
      window.onload = draw();
      function draw() {
        let canvas = document.getElementById('canvas');
        if (canvas.getContext) {
          let ctx = canvas.getContext('2d');
          let img = new Image();
          img.src = '/horse.jpg';
          img.onload = function() {
            ctx.drawImage(img, 0, 0);
            img.style.display = 'none';
            let imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
            let data = imageData.data;
            let invertBtn = document.getElementById('invert');
            let BOUND = 255;
            invertBtn.addEventListener('click', () => {
              for (let i = 0; i < data.length; i += 4) {
                data[i] = BOUND - data[i]; // red
                data[i + 1] = BOUND - data[i + 1]; // green
                data[i + 2] = BOUND - data[i + 2]; // blue
              }
              ctx.putImageData(imageData, 0, 0);
            });
          };
        }
      }
    </script>
  </body>
</html>
