<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Transform</title>
    <style>
      html,
      body {
        height: 100%;
      }
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: aliceblue;
      }
    </style>
  </head>
  <body>
    <h1>Transform</h1>
    <canvas id="canvas" width="800" height="500"> </canvas>
    <script>
      window.onload = draw();
      function draw() {
        let canvas = document.getElementById('canvas');
        if (canvas.getContext) {
          let ctx = canvas.getContext('2d');
          let row = 10;
          let col = 20;
          for (let i = 0; i < col; i += 1) {
            for (let j = 0; j < row; j += 1) {
              ctx.save();
              ctx.fillStyle = getRandomColor();
              ctx.translate(i * 50, j * 50);
              ctx.fillRect(0, 0, 25, 25);
              ctx.restore();
            }
          }
        }
      }
      function getRandomColor() {
        let r = Math.random() * 250;
        let g = Math.random() * 250;
        let b = Math.random() * 250;
        return `rgb(${r},${g},${b})`;
      }
    </script>
  </body>
</html>
